body {
  margin: 0;
  padding: 1rem;
  font-family: -apple-system, sans-serif;
  max-width: 600px;
}

code,
pre {
  font-size: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  margin-left: 3rem;
}

th,
td {
  padding: 0.25rem 0.5rem;
}

pre {
  margin-left: 1.5rem;
}

.controls {
  display: flex;
  margin: 0.5rem;
}

.controls > div {
  margin-right: 0rem;
  width: 5rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a,
nav ul a:visited {
  color: blue;
}
